/* 自动生成序列 */
    /*
    侧边栏大纲计数器:
    在遇到id=top-content时,计数器清零(h1)
    在遇到class=outline-children时,计数器清零(h2-h6)
    */
    #top-content,#top-content ul {
      counter-reset: cebianlan;
    }

    /* 
    侧边栏大纲序号递增和设置内容 
    */
    #top-content li>a::before,
    #top-content ul>li>a::before{
      counter-increment: cebianlan;
      content: counters(cebianlan, ".")". ";
    }

    /*
    TOC目录计数器:
    在遇到标题时,需要清空下一级标记的计数器
    因为目录不是循环嵌套的结构
    */
    #toc,#toc ul {
      counter-reset: toc;
    }

    /* 
    TOC目录的序号递增和设置内容
    */
    #toc li>a::before,
    #toc ul>li>a::before{
      counter-increment: toc;
      content: counters(toc, ".")". ";
    }


    /*
    正文标题计数器:
    在遇到标题时,需要清空下一级标记的计数器
    因为目录不是循环嵌套的结构
    */
    #write{
      counter-reset: zhengwen1;
  }
  #write h1{
      counter-reset: zhengwen2;
  }
  #write h2{
      counter-reset: zhengwen3;
  }
  #write h3{
      counter-reset: zhengwen4;
  }
  #write h4{
      counter-reset: zhengwen5;
  }
  #write h5{
      counter-reset: zhengwen6;
  }

  /* 
  正文标题的序号递增和设置内容
  */
  #write h1::before{
      counter-increment: zhengwen1;
      content: counter(zhengwen1,simp-chinese-informal)"、";
  }
  #write h2::before{
      counter-increment: zhengwen2;
      content: counter(zhengwen1)"."counter(zhengwen2)" ";
  }
  #write h3::before{
      counter-increment: zhengwen3;
      content: counter(zhengwen1)"."counter(zhengwen2)"."counter(zhengwen3)" ";
  }
  #write h4::before{
      counter-increment: zhengwen4;
      content: counter(zhengwen1)"."counter(zhengwen2)"."counter(zhengwen3)"."counter(zhengwen4)" ";
  }
  #write h5::before{
      counter-increment: zhengwen5;
      content: counter(zhengwen1)"."counter(zhengwen2)"."counter(zhengwen3)"."counter(zhengwen4)"."counter(zhengwen5)" ";
  }
  #write h6::before{
      counter-increment: zhengwen6;
      content: counter(zhengwen1)"."counter(zhengwen2)"."counter(zhengwen3)"."counter(zhengwen4)"."counter(zhengwen5)"."counter(zhengwen6)" ";
  }

  strong{
    font-family: "雅黑"
  }
   